#home {
    background-size: cover;
    background-position: center center;
    color: #f7dfc5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.main-contact {
    background: url('../img/Unbenannt.jpg') no-repeat;
}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
    overflow: hidden;
}
.main-contact {
    height: 65vh;
}
.overlay {
    background: rgba(0,0,0,0.7 );
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (max-width: 980px) {

    .main-contact {
        height: 35vh;
    }

}

.inhalt{
    margin-top: 50px;
}